= form_for @user do |f|
  = errors_for @user, false

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :phone_number
    = f.text_field :phone_number
  .field
    = f.label :email
    = f.text_field :email
  - if current_user.has_role?(:admin)
    .field
      = f.label :roles
      = f.collection_select :role_ids, Role.all, :id, :name, {}, {multiple: true}

  .actions
    = f.submit 'Save', class: 'btn btn-warning btn-lg'
